@font-face {
  font-family: "roboto";
  src: url("fonts/roboto-regular-webfont.woff");
  src: url("fonts/roboto-regular-webfont.woff2");
}
root {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: url("imges/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "roboto";
}
.imagecontainer {
  position: relative;
}
.imagecontainer img {
  width: 100%;
}
.fullName {
  margin: 0;
  color: #ffffff;
  display: inline;
  position: absolute;
  bottom: 5px;
  left: 0px;
  align-self: self-end;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.introduction {
  max-width: 1000px;
  background-color: #ffffff;
}
.icon {
  width: 16px;
}
a {
  text-decoration: none;
}
.project {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  margin-left: 3px;
  margin-bottom: 5px;
  border: 0.5px solid black;
  max-width: 350px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.562);
}
.project p {
  padding: 2px;
}
.project :nth-child(0) {
  width: 100%;
}
.projects {
  display: grid;
}
main {
  display: flex;
  flex-direction: column;
}
.contact-info {
  background-color: #0097b2;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
header {
  display: grid;
  justify-items: center;
}
footer,
section {
  padding: 5px;
  text-align: center;
}
.contact-info {
  width: 100%;
}
@media (min-width: 780px) {
  header {
    max-width: 900px;
  }
  .imagecontainer img{
    width: 375px;
  }

  a {
    text-decoration: none;
  }
  .project {
    margin: 5px;
    border: 1px solid black;
    max-width: 375px;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 860px) {
  header {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .introduction {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    max-width: 1000px;
    border: 1px solid black;
    border-left: none;
  }
}
